@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    outline: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: #050505;
    background: #131419;
    letter-spacing: 0.5px;
}

input,
textarea {
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-contacts-auto-fill-button,
    &::-webkit-credentials-auto-fill-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }
}

input[type='search'] {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #313235 #171719;

    &::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #171719;
    }

    &::-webkit-scrollbar-thumb {
        background: #313235;
        border-radius: 9999px;
        border: 2px solid #171719;
    }

    &:hover {
        scrollbar-color: #666666 #171719;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: #666666;
    }
}
